<app-header-popup></app-header-popup>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="#"> <img src="../../assets/logo1.png" width="40" height="40" alt="ECHT"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <form class="d-flex">
          <button class="btn btn-outline">Start for Free</button>
        </form>
      </div>
</nav>