<app-header-popup ></app-header-popup>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="#"> <img src="../../assets/logo1.png" width="50" height="50" alt="ECHT"> </a>
      <div >
        <ul id="navbar" class="d-flex">
         <li><a class="active" href="#">Home</a></li>
         <li><a href="#">Why echt-feedback</a></li>
         <li><a href="#">features</a></li>
         <li><a href="#">How it works</a></li>
         <li><a href="#">Pricing</a></li>
         <li><a href="#">Blog</a></li>
         <li><a href="#">Solutions</a></li>
         <li><a href="#">Contact</a></li>
         <li>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
              <button class="btn btn-outline">Start for Free</button>
            </form>
         </li>
        </ul>       
        
      </div> 
    </div>
</nav>