<app-header-popup ></app-header-popup>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a href="#"> <img src="../../assets/logo1.png" width="50" height="50" alt="ECHT"> </a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <ul id="navbar" class=" navbar-nav">
              <li><a class="active" href="#">Home</a></li>
              <li><a href="#">Why echt-feedback</a></li>
              <li><a href="#">features</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Solutions</a></li>
              <li><a href="#">Contact</a></li>
             </ul>    
          </div>
          <div class="navbar-nav ms-auto">
            <form class="d-flex navbar-nav ms-auto">
              <button class="btn btn-outline ">Start for free</button>
            </form> 
          </div>
      </div>
  </div>
</nav>